{% macro render_blog_post(post, from_index=false, summary=false, only_titles=false) %}
<div class="pure-g">
    <div class="pure-u-md-1-3 pure-u-1-5 sidebar">
        {% if not summary %}
            {% for image in post.attachments.images %}
            <div class="img">
                <img src="{{ image|url }}">
                <div class="description">{{ image.description  }}</div>
            </div>
            {% endfor %}
        {% endif %}
        <div class="piratechain vg5000"></div>
            <!-- ▒▒▒&nbsp🐙&nbsp▒▒▒▒▒▒🏃 ▒▒☄▒▒▒▒ ▒ ⚡ ▒▒▒&nbsp▒▒▒▒▒▒&nbsp▒▒▒▒🔍▒ ☠ ▒&nbsp▒▒▒&nbsp▒▒▒▒▒▒▒▒▒▒ 🐟▒</div> -->
    </div>

    <div class="pure-u-md-2-3 pure-u-4-5">
        <div class="blog-post">
            {% if from_index %}
                {% if post.tags[0] %}
                    <div class="title "><a href="{{ post|url }} "><span class="ttag ">{{ post.tags[0] }} ⦚</span> {{ post.title }}</a></div>
                {% else %}
                    <div class="title "><a href="{{ post|url }} ">{{ post.title }}</a></div>
                {% endif %}
            {% else %}
                <div class="title-post ">{{ post.title }}</div>
            {% endif %}

  <div class="tdate ">{{ post.pub_date }} by {{ post.author }}</div>

    {% if summary %}
        {{ post.body.html|striptags| truncate(600) }}
        {% if post.body.html|length > 600 %}
            <a href="{{ post|url }}" class="readmore ">»read_more»</a>
        {% endif %}
    {% elif only_titles %}
        <div class="blog-post-body "></div>
    {% else %}
        <div class="blog-post-body ">{{ post.body }}</div>
        {% if post.tags %}
        <div class="tags">tags: {% for t in post.tags -%} <a href="{{ ('/blog@tag/' ~ t.lower())|url }}">{{ t }}</a>{% endfor %}</div>
        {% endif %}
    {% endif %}
        </div>
    </div>
</div>
<script>
 if (window.matchMedia("(min-width:768px)").matches) {
     let pn = document.getElementsByClassName("piratechain")[0];
     pn.insertBefore(document.getElementsByClassName("footnotes")[0], pn.firstChild)
 };
</script>

{% endmacro %}
