{% macro render_pagination(pagination) %}
  <div class="pagination">
    {% if pagination.has_prev %}
      <a href="{{ pagination.prev|url }}">&laquo;previous</a>
    {% else %}
      <span class="disabled">&laquo;previous</span>
    {% endif %}
    {% if pagination.pages > 1 %}
      |{{ pagination.page }}|
    {% endif %}
    {% if pagination.has_next %}
      <a href="{{ pagination.next|url }}">next&raquo;</a>
    {% else %}
      <span class="disabled">next&raquo;</span>
    {% endif %}
  </div>
{% endmacro %}
