{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div class="pure-g">
    <div class="pure-u-md-1-3 pure-u-1-5 sidebar">
        {% for image in this.attachments.images %}
        <div class="img">
            <img src="{{ image|url }}">
        </div>
        {% endfor %}
        <div class="piratechain vg5000"></div>
            <!-- ▒▒▒&nbsp🐙&nbsp▒▒▒▒▒▒🏃 ▒▒☄▒▒▒▒ ▒ ⚡ ▒▒▒&nbsp▒▒▒▒▒▒&nbsp▒▒▒▒🔍▒ ☠ ▒&nbsp▒▒▒&nbsp▒▒▒▒▒▒▒▒▒▒ 🐟▒</div> -->
    </div>
    <div class="pure-u-md-2-3 pure-u-4-5">
        <div class="page-title ">{{ this.title }}</div>
        <div class="page-body ">{{ this.body }}</div>
    </div>
</div>
<script>
 if (window.matchMedia("(min-width:768px)").matches) {
     let pn = document.getElementsByClassName("piratechain")[0];
     pn.insertBefore(document.getElementsByClassName("footnotes")[0], pn.firstChild)
 };
</script>
{% endblock %}
