@font-face {
    font-family: 'PlayfairDisplay Black';
    font-weight: 400;
    src: url("fonts/PlayfairDisplay-Black.woff") format('woff');
}

@font-face {
    font-family: 'PlayfairDisplay Italic';
    font-weight: 400;
    src: url("fonts/PlayfairDisplay-Italic.woff") format('woff');
}

@font-face {
    font-family: 'PlayfairDisplay BlackItalic';
    font-weight: 400;
    src: url("fonts/PlayfairDisplay-BlackItalic.woff") format('woff');
}

@font-face {
    font-family: 'PlayfairDisplay Bold';
    font-weight: 400;
    src: url("fonts/PlayfairDisplay-Bold.woff") format('woff');
}

@font-face {
    font-family: 'PlayfairDisplay BoldItalic';
    font-weight: 400;
    src: url("fonts/PlayfairDisplay-BoldItalic.woff") format('woff');
}

@font-face {
    font-family: 'PlayfairDisplay Regular';
    font-weight: 400;
    src: url("fonts/PlayfairDisplay-Regular.woff") format('woff');
}

@font-face {
    font-family: 'PlayfairDisplay SC-Regular';
    font-weight: 400;
    src: url("fonts/PlayfairDisplaySC-Regular.woff") format('woff');
}

@font-face {
    font-family: 'VG5000-Regular';
    font-weight: 400;
    src: url("fonts/VG5000-Regular_web.woff") format('woff');
}


@media only screen and (max-width: 767px) {
    .page {
        padding-left: 1em !important;
    }
    .menu {
        padding-left: 1em;
    }

    .img img {
        display: none;
        /* width: 90%; */
        /* padding-top: 6em; */
        /* padding-left: 0.6em; */
    }

    .img .description {
        display: none;
    }
    .piratechain {
        position: absolute;
        display: inline;
        float: left;
        bottom: 0;
        /* position: relative; */
        word-break: break-all;
        overflow-wrap: break-word;
        font-size: 0.7em;
        padding-right: 0.2em;
        color: #996561;
    }

}

@media only screen and (min-width: 768px) {
    .img img {
        display: inline-block;
        width: 90%;
        padding-top: 10em;
        padding-left: 0.6em;
        padding-right: 0.6em;
    }

    .img .description {
        font-family: VG5000-Regular;
        padding-top: 0.1em;
        padding-right: 0.6em;
        padding-left: 1.5em;
        font-size: 0.5rem;
    }

    .piratechain {
        position: absolute;
        display: inline;
        float: left;
        bottom: 0;
        word-break: break-all;
        overflow-wrap: break-word;
        font-size: 1.3em;
        padding-right: 0.6em;
        #color: #b8#79#75;
        color: #996561;
    }

}

html,
body,
.pure-g [class *="pure-u"] {
    background: #f2f6d5;
    font-family: "PlayfairDisplay Regular";
    font-size: 1.1em;
}

blockquote {
    font-family: "PlayfairDisplay Italic";
}

h1 {
    font-size: 1.3em;
    /* font-family: "PlayfairDisplay Regular"; */
    font-family: VG5000-Regular;
    font-weight: normal;
}
h2 {
    font-size: 1.1em;
    font-family: VG5000-Regular;
    font-weight: normal;
}

h3 {
    font-size: 1em;
    font-family: VG5000-Regular;
    font-weight: normal;
}

a {
    color: #996561;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    display: none;
}

header {
    padding-top: 0.5em;
}


.logo {
    padding-top: 1em;
    padding-left: 1em;
    /* padding: 0.8em; */
    /* font-size: 1.2em; */
    color: #996561;
}

.vg5000 {
    font-family: VG5000-Regular;
}

.menu {
    padding-top: 1em;
    /* padding-right: 2em; */
}

.menu a {
    display: inline-block;
    text-decoration: none;
    /* font-size: 1.4em; */
    font-weight: normal;
    color: #996561;
    /* font-family: "PlayfairDisplay Regular"; */
    font-family: VG5000-Regular;
}

.menu a:hover {
    text-decoration: underline;
}

/* .gridz { */
/*     font-family: VG5000-Regular; */
/*     color: #996561; */
/*     font-weight: bold; */
/*     /\* font-size: 0.6em; *\/ */
/* } */

.page {
    padding-top: 2em;
    padding-right: 2em;
    padding-left: 1em;
}

.title-post,
.title,
.page-title {
    font-family: "PlayfairDisplay SC-Regular";
    font-size: 1.6em;
}

.ttag, .tags {
    font-family: VG5000-Regular;
    font-size: 0.5em;
}

.tdate {
    font-family: "PlayfairDisplay Italic";
    font-size: 0.9em;
    padding-bottom: 1em;
}

h1 {
    font-size:
}

.sidebar {
    position: relative;
}

footer {
    /* float: left; */
    padding-left: 1em;
    text-align: top;
    padding-top: 3em;
    padding-right: 1.4em;
    font-size: 0.7em;
    font-family: VG5000-Regular;
}

.disabled {
    display: none;
}

.footnotes {
    font-family: "PlayfairDisplay Regular";
    word-break: break-all;
    overflow-wrap: break-word;
    font-size: 0.6em;
    padding-right: 0.7em;
}

.blog-post {
    padding-bottom: 1.4em;
}
